/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #283278;
}
nav .navbar-brand .red
{
    color: #e60346;
}
nav .navbar-brand .grey
{
    color: #30333a;
}
nav .navbar-brand .green
{
    color: #8cb419;
}

/* ############## Chessboard ################## */
* {margin:0; padding:0; }
table.chess_table {
    width:100%; 
    min-width:8em; 
    max-width:64em;
    margin:0 auto; 
    padding:0;
    border-collapse: collapse; 
    border-spacing: 0;
    box-sizing: border-box;
}
table.chess_table tr td {
    margin:0; 
    padding:0;
    font-size: 1em; 
    font-family: serif; 
    text-align: center;
}
table.chess_table tr:nth-child(odd) td:nth-child(odd),
table.chess_table tr:nth-child(even) td:nth-child(even)
{
    background-color: rgb(240,240,200);
}
table.chess_table tr:nth-child(odd) td:nth-child(even),
table.chess_table tr:nth-child(even) td:nth-child(odd)
{
    background-color: rgb(150,180,80);
}
table.chess_table tr td { 
    color: rgb(0, 0, 0);
}
table.chess_table tr th {
    color: black; 
    font-size:1em;
}

/* ############## About ################## */

.about {
    text-align: left;
}
